/* стили входа под формой регистрации */
.account__alter {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: white;
  padding: 12px;
}
