.resources__logo {
  width: 270px;
  height: 38px;
  display: flex;
  justify-content: center;
  transition: opacity .5s ease;
}

.resources__logo:hover {
  /* background-color: #f2f2f2; */
  opacity: .5;
}
